[submodule "third_party/civetweb"]
	path = third_party/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "third_party/vscp"]
	path = third_party/vscp
	url = https://github.com/grodansparadis/vscp.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/Mustache"]
	path = third_party/Mustache
	url = https://github.com/kainjow/Mustache.git
